<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Patient Home Page</title>
</head>

<body style="background-color: #0dff49c7;">
<h1 font color="blue"><center>E-Clinic</center></h1>
<form id="form1" name="form1" method="post" action="">
  <table style="background-color: rgba(8, 219, 226, 0.897)"; width="253" height="263" border="1">
    <tr>
      <td width="220"><a href="#">Home Page</a></td>
    </tr>
    <tr>
      <td><a href="updprof">Update Profile</a></td>
    </tr>
    <tr>
      <td><a href=" DoctorBooking">Doctor Booking</a></td>
    </tr>
    <tr>
      <td><a href="VaccineBook">Vaccine Booking</a></td>
    </tr>
    <tr>
      <td><a href="View prescription">VIEW prescription</a></td>
    </tr>
    <tr>
      <td><a href="Add feedback">Add Feedback</a></td>
    </tr>
    <tr>
      <td><a href="View notification">View Notification</a></td>
    </tr>
    <tr>
      <td><a href="login">LOG OUT</a></td>
    </tr>
  </table>
</form>
</body>
</html>
