<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Registration</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="registration">
  <div align="center">
    <table width="312" border="1">
      <tr>
        <td width="125">Name </td>
        <td width="171"><label>
          <input type="text" name="textfield" />
        </label></td>
      </tr> 
      <tr>
        <td>Home</td>
        <td><label>
          <input type="text" name="home" />
        </label></td>
      </tr>
      <tr>
       <tr>
          <td>Place</td>
          <td><label>
            <input type="text" name="place" />
          </label></td>
        </tr>
        <tr>
          <td>City</td>
          <td><label>
            <input type="text" name="city" />
          </label></td>
        </tr>
        <tr>
          <tr>
            <td>Pincode</td>
            <td><label>
              <input type="number" name="pincode" />
            </label></td>
          </tr>
          <tr>
        <td>Gender</td>
        <td><label>
          <input name="radiobutton" type="radio" value="Male" />
          Male
          <input name="radiobutton" type="radio" value="Female" />
          Female
        </label></td>
      </tr>
      <tr>
        <td>Age </td>
        <td><label>
          <input type="number" name="textfield2" />
        </label></td>
      </tr>
      <tr>
        <td>Blood Group</td>
        <td><label>
          <input type="text" name="textfield3" />
        </label></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><label>
          <input type="email" name="textfield4" />
        </label></td>
      </tr>
      <tr>
        <td>Date Of Birth</td>
        <td><label>
          <input type="text" name="textfield5" />
        </label></td>
      </tr>
      <tr>
        <td>Phone Number </td>
        <td><label>
          <input type="number" name="textfield6" />
        </label></td>
      </tr>
      <tr>
        <td>User name </td>
        <td><label>
          <input type="text" name="textfield7" />
        </label></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><label>
          <input type="password" name="textfield9" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="Register" />
          </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
