<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ViewPrescription</title>
</head> -->
{% extends "Patient_home1.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="797" height="188" border="2">
    <tr>
      <th width="63" scope="col">Sl No </th>
      <th width="142" scope="col">Patient Name </th>
      <th width="141" scope="col">Doctor Name </th>
      <th width="153" scope="col">Disease Name </th>
      <th width="95" scope="col">Medicine</th>
      <th width="161" scope="col"><p>Remarks</p></th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
<!-- </html> -->
{% endblock %}
