<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ViewPrescription/add medicine</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="794" height="283" border="2">
    <tr>
      <th scope="col">Sl No </th>
      <th scope="col">Patient Name </th>
      <th scope="col">Disease</th>
      <th scope="col">Medicine</th>
      <th scope="col">Remarks</th>
      <th scope="col">Status</th>
    </tr>
    <tr>
      <td height="110">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6"><label>
        <div align="center">
          <input type="submit" name="Submit" value="ADD" />
        </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
