<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="566" height="346" border="2">
    <tr>
      <th width="332" scope="row">Medicine name </th>
      <td width="216"><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Quantity</th>
      <td><label></label>
        <label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Batch number </th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Manufacture date </th>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Expiry date
        <label></label></th>
      <th scope="row"><label>
        <input type="text" name="textfield5" />
      </label></th>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
