<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ViewTimeSlotForDoctor</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="650" height="287" border="2">
    <tr>
      <th width="88" scope="col">Sl No </th>
      <th width="197" scope="col">Start Time </th>
      <th width="120" scope="col">End Time </th>
      <th width="263" scope="col">Date</th>
      <th width="405" scope="col">Strength</th>
      <th width="405" scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><label></label>
      <p>
        <label></label>
         <label></label>
      </p>
      <p align="left">&nbsp;      </p>
      <p align="center">&nbsp;</p>
      <p align="center">&nbsp; </p>
      <p>
        <label> </label>
      </p>
      <p align="center">&nbsp;</p></td>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="Block" />
          <br />
          <br />
          <br />
          <br />
          <input type="submit" name="Submit2" value="Update" />
          </div>
      </label></td>
    </tr>
  </table>
  <label></label>
</form>
</body>
</html>
