<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Manage Doctor Schedule</title>
</head> -->
{% extends "admin_home1.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="search_schedule">
  <table width="695" height="274" border="2" class="table table-striped">
    <tr>
      <th colspan="2" scope="col">Doctors</th>
      <th colspan="2" scope="col"><label>
        <select name="select">
          {% for i in val1 %}
          <option value="{{i['login id']}}">{{i['Name']}}</option>
          {% endfor %}
        </select>
      </label>
      <input type="submit" name="Submit" value="Search" />      <label></label></th>
    </tr>
    <tr>
      <td width="126">Time</td>
      <td width="90">Date</td>
      <td width="301">Strength</td>
      <td width="148"><a href="#"></a></td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['Start time']}}-{{i['End time']}}</td>
      <td>{{i['Date']}}</td>
      <td>{{i['strength']}}</td>
      <td><p><a href="Edit_schedule?id={{i['sch_id']}}">EDIT</a></p>
      <p><a href="delete_schedule?id={{i['sch_id']}}">DELETE</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4"><label>
        <div align="center"><a href="Add_schedule">ADD</a></div>
      </label></td>
    </tr>
  </table>
</form>
</body>
<!-- </html> -->
{% endblock %}
