<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {font-size: medium}
-->
</style>
</head> -->
{% extends "admin_home1.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="Vaccine Details">
  <table td class="bg-primary" width="609" height="278" border="2" class="table table-striped table-hover">
    <tr>
      <th width="369" scope="row">Name</th>
      <td width="222"><label>
        <input   type="text" name="textfield2" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input name="Submit" type="submit" class="style1" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!-- </html> -->
{% endblock %}
