<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>View Doctor Booking</title>
</head> -->
{% extends "admin_home1.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1010" height="284" border="2" class="table table-striped table-hover">
    <tr>
      <th scope="col">Sl No </th>
      <th scope="col">Doctor Name </th>
      <th scope="col">Patient Name </th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Status</th>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{loop.index}}</td>
      <td>{{i['drname']}}</td>
      <td>{{i['name']}}</td>
      <td>{{i['date']}}</td>
      <td>{{i['Start time']}} - {{i['End time']}}</td>
      <td>{{i['Status']}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
<!-- </html> -->
{% endblock %}
