<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Manage vaccine Booking</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="910" height="291" border="2">
    <tr>
      <th scope="col"><p>Sl No </p>      </th>
      <th scope="col">Patient Name </th>
      <th scope="col">Vaccine name </th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Dose</th>
      <th scope="col">Status</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{i['pname']}}</td>
      <td>{{i['Name']}}</td>
      <td>{{i['Date']}}</td>
      <td>{{i['Start time']}}-{{i['End time']}}</td>
      <td>{{i['Dose']}}</td>
      <td>{% if i['Status']=='pending' %}<a href="vaccinated?id={{i['Vcb_id']}}">Vaccinated</a>{% else %}
      Vaccinated {% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
